<!DOCTYPE html>
<html>
    <head>
        <title>Favorite Books</title>
        <style>
            div{
                display: flex;
                justify-content: space-between;
            }
            .books{
                display: block;
            }
        </style>
    </head>


    <body>
        <div>
            <h3>Sucess ! Welcome , {{users.first_name}} !</h3>
            <a href="/logout" style="float: right; ">Log Out</a>
        </div>
        <p style="color: green;">Successfully registered or (logged) in !</p>
        <hr>
        <div>
            <form action="{{Tbook.id}}/updated" method="POST" id="seconedForm">
                <h2>Edit a Favorite Book</h2>
                {% csrf_token %%}
                {% if messages %}
                <ul class="messages"  >
                    {% for message in messages %}
                    <li >{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {%if Tbook.uploaded_by.id == request.session.loggedIn%}
                <div>
                    <label for="title">Title</label>
                    <input type="text" name="title" value="{{Tbook.title}}" required>
                </div>
                <p>Added by:{{Tbook.uploaded_by.first_name}} {{Tbook.uploaded_by.last_name}}</p>
                <p>Added on:{{Tbook.created_at}}</p>
                <p>Last updated on:{{Tbook.updated_at}}</p>
                <div>
                    <label for="description">Description</label>
                    <textarea name="description" id="description" cols="30" rows="10">{{Tbook.description}}</textarea>
                </div>
                
                    <input type="submit" value="Update">
                    
                    <a href="{{Tbook.id}}/delete">Delete</a>
                {%else%}
                <p>Title: {{Tbook.title}}</p>
                <p>Added by:{{Tbook.uploaded_by.first_name}} {{Tbook.uploaded_by.last_name}}</p>
                <p>Added on:{{Tbook.created_at}}</p>
                <p>Last updated on:{{Tbook.updated_at}}</p>
                <p>Description: {{Tbook.description}}</p>
                {%endif%}
            </form>
            <div class="books">
                <h2>Users Who Like This Book:</h2>
                <ul>
                    {%for u in Tbook.users_who_like.all%}
                        <li>{{u.first_name}} {{u.last_name}}
                            {%if Tlike %}
                            <a href="{{Tbook.id}}/unfavorite">Un-Favorite</a></li>
                            {%else%}
                                <a href="{{Tbook.id}}/favorite">Add to Favorites</a>
                            {%endif%}
                    {%endfor%}
                </ul>
            </div>
        </div>
    </body>
</html>